<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td>
            <a th:href="@{/{id}/edit(id=${user.getId()})}"> Edit </a>
        </td>

        <td>
            <form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>

    </tbody>
</table>

<br/>
<hr/>

<a th:href="@{/new}">Create new user</a>
</body>
</html>